body{
 font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

.judul{
    text-align: center;
}

.menu{
text-align: center;
display: block;
}